[user]
  useConfigOnly = true
  email = kamina.dev1991@gmail.com
  name = kamina-zzz
[alias]
  br = branch
[core]
  pager = less -X
[color]
  ui = auto
[diff]
  compactionHeuristic = true
[ghq]
  root = ~/src/
[init]
  defaultBranch = main
[url "https://"]
  insteadOf = git://
[url "https://github.com/"]
  insteadOf = ssh://git@github.com/
  insteadOf = git@github.com:
