[user]
  useConfigOnly = true
  email = kamina.dev1991@gmail.com
  name = kamina-zzz
[color]
  ui = auto
[alias]
  co = checkout
  br = branch
  cm = commit -m
  st = status
  ps = push
  pl = pull
  df = diff
  ad = add
  gr = grep
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[diff]
  compactionHeuristic = true
[ghq]
  root = ~/src/
